/* Cabecera */
header {
    background-color: #8B4513; /* Color de fondo marrón oscuro */
    color: white; /* Color del texto blanco */
    margin: 0; /* Elimina el margen por defecto */
    padding: 16px; /* Añade espacio de relleno de 16 píxeles */
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Arial', sans-serif; /* Define la fuente del texto */
}

/* Cuerpo de la página */
body {
    font-family: 'Arial', sans-serif; /* Define la fuente del texto */
}

/* Pie de página */
footer {
    background-color: #8B4513; /* Color de fondo marrón oscuro */
    color: white; /* Color del texto blanco */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 16px; /* Añade espacio de relleno de 16 píxeles */
    margin-top: 125px; /* Establece un margen superior de 125 píxeles */
}

/* Títulos */
h1, h2 {
    margin: 20px 0; /* Añade margen de 20 píxeles arriba y abajo */
}

/* Contenido */
p {
    margin: 0 0 20px; /* Añade margen de 20 píxeles abajo */
}

/* Formulario */
form {
    width: 500px; /* Establece un ancho de 500 píxeles */
    padding: 20px; /* Añade espacio de relleno de 20 píxeles */
    margin: auto; /* Centra el formulario horizontalmente */
    background-color: #8B4513; /* Color de fondo marrón oscuro */
    border-radius: 8px; /* Establece esquinas redondeadas */
}

/* Etiqueta del formulario (label) */
form label {
    display: block; /* Convierte las etiquetas en elementos de bloque */
    margin-bottom: 5px; /* Añade margen de 5 píxeles abajo */
    font-weight: bold; /* Establece el peso de la fuente en negrita */
    color: white; /* Color del texto blanco */
}

/* Etiqueta input (tipo text y email) */
form input[type="text"],
form input[type="email"] {
    width: 350px; /* Establece un ancho de 350 píxeles */
    background-color: white; /* Color de fondo blanco */
    margin: 8px; /* Añade margen de 8 píxeles */
    border-radius: 4px; /* Establece esquinas redondeadas */
}

/* Etiqueta textarea */
form textarea {
    width: 100%; /* Establece un ancho del 100% */
    height: 100px; /* Establece una altura de 100 píxeles */
    background-color: white; /* Color de fondo blanco */
    border-radius: 4px; /* Establece esquinas redondeadas */
}

/* Botones (submit y reset) */
form button {
    width: 49%; /* Establece un ancho del 49% */
    padding: 8px; /* Añade espacio de relleno de 8 píxeles */
    background-color: #333; /* Color de fondo gris oscuro */
    color: white; /* Color del texto blanco */
    border: none; /* Elimina el borde */
    border-radius: 4px; /* Establece esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el ratón */
}

/* Botones del formulario al pasar el ratón */
form button:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
}

/* Botones del formulario al hacer clic */
form button:active {
    background-color: #222; /* Cambia el color de fondo al hacer clic */
}